.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* BEGIN FORM STYLING */
#CustomerForm {
  width: 85%;
  height: 50%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
/* Project Title Section */
#projectTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#projectTitle input {
  width: 75%;
  margin: 5px 5px;
}
/* End Project Title Section */

/* Customer Info Section */
#customerInfo {
  display: flex;
  flex-direction: column;
}

#customerName, #customerContact, #customerLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label, select {
  margin: 0 10px 0 0;
}

#customerName input, #customerContact input, #customerLocation input {
  width: 25%;
  margin: 5px 5px;
}
/* End Customer Info Section */
/* END FORM STYLING */

.warning {
  color: red;
  font-size: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
